In [2]:
import pandas as pd

In [3]:
cluster5 = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_cluster5.csv", encoding="EUC-KR")
starbucks_group1 = cluster5['cluster'] == 1
starbucks_group1 = cluster5[starbucks_group1]
starbucks_group1.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_group1.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [4]:
cluster5 = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_cluster5.csv", encoding="EUC-KR")
starbucks_group0 = cluster5['cluster'] == 0
starbucks_group0 = cluster5[starbucks_group0]
starbucks_group0.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_group0.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [8]:
cluster5

,Unnamed: 0,store_name,유동인구_평균_x,차선수_x,bus_cnt,sbstn,cluster,LINK_ID,lat_x,lot_x,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,0,KG타워,24141,4.000000,6,0,0,1.010009e+09,37.563528,126.969144,...,19.04000,17.76250,17.35250,20.220000,16.697500,18.337500,25.667500,27.3925,29.562500,33.7100
1,1,SSG마켓도곡R,30953,4.000000,10,1,0,1.220014e+09,37.490298,127.054895,...,20.79625,18.24375,17.60625,16.987500,16.922500,20.532500,24.058750,25.2875,27.466250,32.0975
2,2,가락시장역,37909,2.666667,8,1,4,1.230010e+09,37.494299,127.121354,...,16.68250,15.97500,15.37000,14.966667,15.003333,17.551667,18.474167,19.3625,20.484167,22.8600
3,3,가재울뉴타운,20391,2.000000,10,0,1,1.120008e+09,37.574984,126.916444,...,15.80750,16.30000,15.74500,16.505000,15.850000,16.750000,15.245000,16.3125,18.525000,18.3075
4,4,강남R,97922,4.000000,16,1,3,1.220023e+09,37.497711,127.028439,...,21.94000,21.24000,22.97000,24.545000,24.092500,25.470000,27.287500,26.1675,23.187500,25.6400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,289,화곡동,47359,3.000000,8,1,4,1.140038e+09,37.540512,126.837241,...,15.10750,15.48750,14.79750,14.600000,15.475000,15.550000,17.772500,18.3650,20.007500,20.7800
290,290,환구단,24141,3.000000,12,1,2,1.010010e+09,37.564448,126.979157,...,21.65250,22.23000,23.12500,23.330000,23.882500,24.332500,25.370000,26.2150,25.155000,27.9300
291,291,황학사거리,30053,1.600000,9,0,1,1.018018e+09,37.567644,127.023697,...,17.41350,16.84500,16.73250,16.408000,16.640500,17.161000,17.197000,17.2005,19.044000,20.6920
292,292,황학캐슬,12939,2.000000,7,0,1,1.010019e+09,37.571240,127.022905,...,13.74750,12.52000,11.85750,11.650000,12.592500,15.550000,15.840000,16.3875,18.240000,21.2450
293,293,효창공원앞역,10216,3.000000,9,1,2,1.020014e+09,37.539305,126.963060,...,20.00750,20.05500,18.87750,18.567500,16.612500,16.302500,17.322500,17.8725,20.095000,21.8300

In [6]:
weekday_mean = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\weekday_mean.csv", encoding="EUC-KR")

In [7]:
cluster5_prep = pd.merge(left=cluster5, right=weekday_mean, how='left', left_on='store_name', right_on='store_name')

In [8]:
cluster5_prep

,store_name,유동인구_평균_x,차선수_x,bus_cnt,sbstn,cluster,LINK_ID,lat_x,lot_x,유동인구_평균_y,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,KG타워,24141,4.000000,6,0,0,1.010009e+09,37.563528,126.969144,24141.0,...,19.04000,17.76250,17.35250,20.220000,16.697500,18.337500,25.667500,27.3925,29.562500,33.7100
1,SSG마켓도곡R,30953,4.000000,10,1,0,1.220014e+09,37.490298,127.054895,30953.0,...,20.79625,18.24375,17.60625,16.987500,16.922500,20.532500,24.058750,25.2875,27.466250,32.0975
2,가락시장역,37909,2.666667,8,1,4,1.230010e+09,37.494299,127.121354,37909.0,...,16.68250,15.97500,15.37000,14.966667,15.003333,17.551667,18.474167,19.3625,20.484167,22.8600
3,가재울뉴타운,20391,2.000000,10,0,1,1.120008e+09,37.574984,126.916444,20391.0,...,15.80750,16.30000,15.74500,16.505000,15.850000,16.750000,15.245000,16.3125,18.525000,18.3075
4,강남R,97922,4.000000,16,1,3,1.220023e+09,37.497711,127.028439,97922.0,...,21.94000,21.24000,22.97000,24.545000,24.092500,25.470000,27.287500,26.1675,23.187500,25.6400
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,화곡동,47359,3.000000,8,1,4,1.140038e+09,37.540512,126.837241,47359.0,...,15.10750,15.48750,14.79750,14.600000,15.475000,15.550000,17.772500,18.3650,20.007500,20.7800
290,환구단,24141,3.000000,12,1,2,1.010010e+09,37.564448,126.979157,24141.0,...,21.65250,22.23000,23.12500,23.330000,23.882500,24.332500,25.370000,26.2150,25.155000,27.9300
291,황학사거리,30053,1.600000,9,0,1,1.018018e+09,37.567644,127.023697,30053.0,...,17.41350,16.84500,16.73250,16.408000,16.640500,17.161000,17.197000,17.2005,19.044000,20.6920
292,황학캐슬,12939,2.000000,7,0,1,1.010019e+09,37.571240,127.022905,12939.0,...,13.74750,12.52000,11.85750,11.650000,12.592500,15.550000,15.840000,16.3875,18.240000,21.2450
293,효창공원앞역,10216,3.000000,9,1,2,1.020014e+09,37.539305,126.963060,10216.0,...,20.00750,20.05500,18.87750,18.567500,16.612500,16.302500,17.322500,17.8725,20.095000,21.8300

In [9]:
cluster5_prep.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\cluster5_prep.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [5]:
cluster5 = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\cluster5_prep.csv", encoding="EUC-KR")
starbucks_group0 = cluster5['cluster'] == 0
starbucks_group0 = cluster5[starbucks_group0]
starbucks_group0.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_group0_weekday.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [6]:
cluster5 = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\cluster5_prep.csv", encoding="EUC-KR")
starbucks_group1 = cluster5['cluster'] == 1
starbucks_group1 = cluster5[starbucks_group1]
starbucks_group1.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_group1_weekday.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [7]:
weekend_mean = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\weekend_mean.csv", encoding="EUC-KR")

In [9]:
cluster5 = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_cluster5.csv", encoding="EUC-KR")

In [10]:
cluster5

    store_name  유동인구_평균       차선수  bus_cnt  sbstn  cluster
0         KG타워    24141  4.000000        6      0        0
1     SSG마켓도곡R    30953  4.000000       10      1        0
2        가락시장역    37909  2.666667        8      1        4
3       가재울뉴타운    20391  2.000000       10      0        1
4          강남R    97922  4.000000       16      1        3
..         ...      ...       ...      ...    ...      ...
289        화곡동    47359  3.000000        8      1        4
290        환구단    24141  3.000000       12      1        2
291      황학사거리    30053  1.600000        9      0        1
292       황학캐슬    12939  2.000000        7      0        1
293     효창공원앞역    10216  3.000000        9      1        2

[294 rows x 6 columns]

In [11]:
cluster5_prep = pd.merge(left=cluster5, right=weekend_mean, how='left', left_on='store_name', right_on='store_name')

In [12]:
cluster5_prep

,store_name,유동인구_평균_x,차선수_x,bus_cnt,sbstn,cluster,LINK_ID,lat_x,lot_x,유동인구_평균_y,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,KG타워,24141,4.000000,6,0,0,1.010009e+09,37.563528,126.969144,24141.0,...,19.2360,17.7160,17.002000,17.964000,20.086000,23.830000,26.762000,29.136000,27.214000,31.3040
1,SSG마켓도곡R,30953,4.000000,10,1,0,1.220014e+09,37.490298,127.054895,30953.0,...,16.5740,19.0610,19.697000,19.542000,22.409000,25.391000,27.326000,27.875000,26.413000,28.8410
2,가락시장역,37909,2.666667,8,1,4,1.230010e+09,37.494299,127.121354,37909.0,...,16.6680,16.4600,17.070667,17.932667,19.267333,20.413333,21.329333,21.892667,23.654667,24.8660
3,가재울뉴타운,20391,2.000000,10,0,1,1.120008e+09,37.574984,126.916444,20391.0,...,15.0360,15.9020,15.700000,15.126000,15.692000,15.434000,16.110000,15.164000,17.802000,19.4980
4,강남R,97922,4.000000,16,1,3,1.220023e+09,37.497711,127.028439,97922.0,...,23.8880,25.1180,26.058000,27.320000,28.394000,30.218000,26.240000,22.044000,20.366000,21.4040
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,화곡동,47359,3.000000,8,1,4,1.140038e+09,37.540512,126.837241,47359.0,...,11.8840,13.0780,13.352000,14.446000,16.404000,19.104000,19.580000,20.314000,20.710000,21.6480
290,환구단,24141,3.000000,12,1,2,1.010010e+09,37.564448,126.979157,24141.0,...,22.8640,22.9940,24.114000,23.460000,23.874000,24.284000,24.498000,25.174000,25.672000,26.8820
291,황학사거리,30053,1.600000,9,0,1,1.018018e+09,37.567644,127.023697,30053.0,...,16.5556,16.6236,16.771600,16.423600,16.729200,18.061600,18.921600,19.779200,20.076800,21.1188
292,황학캐슬,12939,2.000000,7,0,1,1.010019e+09,37.571240,127.022905,12939.0,...,13.3260,12.0460,12.894000,12.758000,14.566000,15.416000,18.528000,18.556000,19.472000,22.5060
293,효창공원앞역,10216,3.000000,9,1,2,1.020014e+09,37.539305,126.963060,10216.0,...,17.8640,19.2240,19.080000,19.224000,20.334000,20.612000,21.690000,22.138000,23.218000,22.6780

In [13]:
starbucks_group0 = cluster5_prep['cluster'] == 0
starbucks_group0 = cluster5_prep[starbucks_group0]
starbucks_group0.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_group0_weekend.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [15]:
starbucks_group1 = cluster5_prep['cluster'] == 1
starbucks_group1 = cluster5_prep[starbucks_group1]
starbucks_group1.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\agg_group1_weekend.csv', sep=',', na_rep='NaN', encoding='EUC-KR')