In [2]:
import pandas as pd

In [8]:
starbucks_point = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\starbucks_info\starbucks_info.csv", encoding="EUC-KR")

In [9]:
starbucks_point

,store_name,store_addr,lat,lot,도로,길
0,역삼아레나빌딩,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.501087,127.043069,언주로,NaN
1,논현역사거리,서울특별시 강남구 강남대로 538 (논현동)1522-3232,37.510178,127.022223,강남대로,NaN
2,신사역성일빌딩,서울특별시 강남구 강남대로 584 (논현동)1522-3232,37.514132,127.020563,강남대로,NaN
3,국기원사거리,서울특별시 강남구 테헤란로 125 (역삼동)1522-3232,37.499517,127.031495,테헤란로,NaN
4,스탈릿대치R,서울특별시 강남구 남부순환로 2947 (대치동)1522-3232,37.494668,127.062583,남부순환로,NaN
...,...,...,...,...,...,...
551,사가정역,서울특별시 중랑구 면목로 3101522-3232,37.579594,127.087966,면목로,NaN
552,상봉역,서울특별시 중랑구 망우로 307 (상봉동)1522-3232,37.596890,127.086470,망우로,NaN
553,묵동이마트,"서울특별시 중랑구 동일로 932 (묵동, 묵동자이아파트) (묵동이마트 B1층)152...",37.613433,127.077484,동일로,NaN
554,묵동,서울특별시 중랑구 동일로 952 1522-3232,37.615368,127.076633,동일로,NaN
555,중화역,"서울특별시 중랑구 봉화산로 35 1,2층1522-3232",37.601709,127.078411,봉화산로,NaN

In [11]:
road_ext_50m = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\50m\50m.csv", encoding="EUC-KR")

In [12]:
road_ext_50m

,LINK_ID,begin,end,store_name,store_addr,lat,lot,도로,길
0,1110008106,1,13,은평구청입구,서울특별시 은평구 은평로 170 (응암동)1522-3232,37.601042,126.926789,은평로,NaN
1,1130019501,1,16,아현역,"서울특별시 서대문구 신촌로35길 10 (북아현동, E편한세상신촌 4단지)1522-3232",37.558421,126.956349,신촌로35길,NaN
2,1130026401,1,2,상암디지털큐브,서울특별시 마포구 상암산로 341522-3232,37.576313,126.889248,상암산로,NaN
3,1130026402,1,2,상암DMC,"서울특별시 마포구 월드컵북로 375, DMC이안오피스텔1단지 102호,202호 (상...",37.577623,126.890684,월드컵북로,NaN
4,1130072000,1,2,상암YTN,서울특별시 마포구 상암산로 76 (상암동)1522-3232,37.579183,126.892315,상암산로,NaN
...,...,...,...,...,...,...,...,...,...
512,1130000600,1,3,마포아크로,서울특별시 마포구 마포대로 68 (도화동) 마포아크로타워1522-3232,37.541456,126.948819,마포대로,NaN
513,1220004300,1,4,청담영동대로,서울특별시 강남구 영동대로 720 (청담동)1522-3232,37.522156,127.056449,영동대로,NaN
514,1230029300,1,3,몽촌토성역,서울특별시 송파구 위례성대로 6 1522-3232,37.516913,127.113127,위례성대로,NaN
515,1230028100,1,3,올림픽평화의문,서울특별시 송파구 위례성대로 38 (방이동) 해태그린피아빌라트1522-3232,37.515643,127.116482,위례성대로,NaN
516,1230026100,1,3,올림픽공원남문,서울특별시 송파구 위례성대로 102 (방이동)1522-3232,37.513300,127.123113,위례성대로,NaN

In [13]:
road_join_fullstore = pd.merge(left=starbucks_point, right=road_ext_50m, how='left', left_on='store_name', right_on='store_name')

In [17]:
road_join_fullstore.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\road_join_fullstore.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [27]:
road_join_fullstore[:10]

,store_name,store_addr_x,lat_x,lot_x,도로_x,길_x,LINK_ID,begin,end,store_addr_y,lat_y,lot_y,도로_y,길_y
0,역삼아레나빌딩,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.501087,127.043069,언주로,NaN,1.220025e+09,1.0,4.0,서울특별시 강남구 언주로 425 (역삼동)1522-3232,37.501087,127.043069,언주로,NaN
1,논현역사거리,서울특별시 강남구 강남대로 538 (논현동)1522-3232,37.510178,127.022223,강남대로,NaN,1.220028e+09,1.0,4.0,서울특별시 강남구 강남대로 538 (논현동)1522-3232,37.510178,127.022223,강남대로,NaN
2,신사역성일빌딩,서울특별시 강남구 강남대로 584 (논현동)1522-3232,37.514132,127.020563,강남대로,NaN,1.220031e+09,1.0,3.0,서울특별시 강남구 강남대로 584 (논현동)1522-3232,37.514132,127.020563,강남대로,NaN
3,국기원사거리,서울특별시 강남구 테헤란로 125 (역삼동)1522-3232,37.499517,127.031495,테헤란로,NaN,1.220024e+09,1.0,3.0,서울특별시 강남구 테헤란로 125 (역삼동)1522-3232,37.499517,127.031495,테헤란로,NaN
4,스탈릿대치R,서울특별시 강남구 남부순환로 2947 (대치동)1522-3232,37.494668,127.062583,남부순환로,NaN,1.220018e+09,1.0,4.0,서울특별시 강남구 남부순환로 2947 (대치동)1522-3232,37.494668,127.062583,남부순환로,NaN
5,스탈릿대치R,서울특별시 강남구 남부순환로 2947 (대치동)1522-3232,37.494668,127.062583,남부순환로,NaN,1.220022e+09,1.0,4.0,서울특별시 강남구 남부순환로 2947 (대치동)1522-3232,37.494668,127.062583,남부순환로,NaN
6,봉은사역,서울특별시 강남구 봉은사로 619 (삼성동)1522-3232,37.515000,127.063196,봉은사로,NaN,1.220031e+09,1.0,3.0,서울특별시 강남구 봉은사로 619 (삼성동)1522-3232,37.515000,127.063196,봉은사로,NaN
7,압구정윤성빌딩,서울특별시 강남구 논현로 834 (신사동)1522-3232,37.522793,127.028601,논현로,NaN,1.220034e+09,1.0,5.0,서울특별시 강남구 논현로 834 (신사동)1522-3232,37.522793,127.028601,논현로,NaN
8,코엑스별마당,서울특별시 강남구 영동대로 513 (삼성동)1522-3232,37.510150,127.060275,영동대로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,삼성역섬유센터R,서울특별시 강남구 테헤란로 518 (대치동)1522-3232,37.507750,127.060651,테헤란로,NaN,1.220028e+09,1.0,3.0,서울특별시 강남구 테헤란로 518 (대치동)1522-3232,37.507750,127.060651,테헤란로,NaN

In [53]:
no_road = road_join_fullstore['LINK_ID'].isnull()
no_road = road_join_fullstore[no_road]
no_road.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\no_road.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [54]:
no_road[:10]

,store_name,store_addr_x,lat_x,lot_x,도로_x,길_x,LINK_ID,begin,end,store_addr_y,lat_y,lot_y,도로_y,길_y
8,코엑스별마당,서울특별시 강남구 영동대로 513 (삼성동)1522-3232,37.510150,127.060275,영동대로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,강남오거리,서울특별시 강남구 봉은사로2길 39 (역삼동)1522-3232,37.502117,127.026672,봉은사로2길,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,스타필드코엑스몰R,서울특별시 강남구 영동대로 513 (삼성동) 코엑스 A106호1522-3232,37.509990,127.061455,영동대로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,압구정,서울특별시 강남구 압구정로30길 17 (신사동)1522-3232,37.526283,127.029560,압구정로30길,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,신사가로수,서울특별시 강남구 가로수길 59 1522-3232,37.521933,127.022521,가로수길,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,청담스타R,서울특별시 강남구 도산대로57길 24 (청담동)1522-3232,37.525216,127.041827,도산대로57길,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,청담사거리,서울특별시 강남구 도산대로 458 (청담동) 리츠타워1522-3232,37.523635,127.046865,도산대로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,코엑스몰,서울특별시 강남구 영동대로 513 (삼성동) O103호1522-3232,37.513715,127.059245,영동대로,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,삼성도심공항,서울특별시 강남구 테헤란로87길 33 (삼성동)1522-3232,37.509786,127.057913,테헤란로87길,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,삼성교,"서울특별시 강남구 영동대로86길 12, 동남유화빌딩 1층1522-3232",37.507794,127.065170,영동대로86길,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
road_ext_50m = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\50m\50m.csv", encoding="EUC-KR")

In [4]:
road_ext_3050m = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\50+30\sb+id_ver2.csv", encoding="EUC-KR")

In [5]:
road_ext_3050m

,store_name,is_dt,link_id,link_id_2,차선수,07시,08시,09시,10시,11시,...,second_12시,second_13시,second_14시,second_15시,second_16시,second_17시,second_18시,second_19시,second_20시,second_21시
0,역삼아레나빌딩,0,1220024600,NaN,4,25.16,23.11,21.11,20.89,18.99,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,논현역사거리,0,1220027900,NaN,4,28.25,26.42,23.22,20.49,16.48,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,신사역성일빌딩,0,1220030700,NaN,4,30.33,27.59,25.66,16.09,14.12,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,국기원사거리,0,1220024000,1.220023e+09,4,36.43,29.90,27.30,26.96,26.89,...,20.64,21.11,22.18,21.02,20.76,15.42,16.77,23.23,25.32,24.82
4,스탈릿대치R,0,1220018400,1.220022e+09,4,37.62,28.29,18.97,20.14,22.02,...,17.84,20.36,20.00,18.89,15.49,11.26,11.25,12.68,10.59,13.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,상봉역,0,1060002100,NaN,2,28.34,23.86,19.29,18.55,22.65,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
428,묵동이마트,0,1060005100,NaN,3,30.25,25.89,24.56,27.70,26.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
429,묵동,0,1060005100,1.060020e+09,3,30.25,25.89,24.56,27.70,26.11,...,13.57,17.36,10.67,12.52,22.72,12.53,15.59,9.88,7.20,16.04
430,중화역,0,1060015100,NaN,2,25.04,21.44,18.29,19.01,24.94,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
431,신월IC DT,1,1140023300,NaN,3,38.14,23.92,20.25,20.70,24.49,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
test_join = pd.merge(left=road_ext_50m, right=road_ext_3050m, how='left', left_on='store_name', right_on='store_name')

In [9]:
test_join.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\test_join.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [11]:
road_ext_50m

,LINK_ID,begin,end,store_name,store_addr,lat,lot,도로,길
0,1110008106,1,13,은평구청입구,서울특별시 은평구 은평로 170 (응암동)1522-3232,37.601042,126.926789,은평로,NaN
1,1130019501,1,16,아현역,"서울특별시 서대문구 신촌로35길 10 (북아현동, E편한세상신촌 4단지)1522-3232",37.558421,126.956349,신촌로35길,NaN
2,1130026401,1,2,상암디지털큐브,서울특별시 마포구 상암산로 341522-3232,37.576313,126.889248,상암산로,NaN
3,1130026402,1,2,상암DMC,"서울특별시 마포구 월드컵북로 375, DMC이안오피스텔1단지 102호,202호 (상...",37.577623,126.890684,월드컵북로,NaN
4,1130072000,1,2,상암YTN,서울특별시 마포구 상암산로 76 (상암동)1522-3232,37.579183,126.892315,상암산로,NaN
...,...,...,...,...,...,...,...,...,...
505,1130000600,1,3,마포아크로,서울특별시 마포구 마포대로 68 (도화동) 마포아크로타워1522-3232,37.541456,126.948819,마포대로,NaN
506,1220004300,1,4,청담영동대로,서울특별시 강남구 영동대로 720 (청담동)1522-3232,37.522156,127.056449,영동대로,NaN
507,1230029300,1,3,몽촌토성역,서울특별시 송파구 위례성대로 6 1522-3232,37.516913,127.113127,위례성대로,NaN
508,1230028100,1,3,올림픽평화의문,서울특별시 송파구 위례성대로 38 (방이동) 해태그린피아빌라트1522-3232,37.515643,127.116482,위례성대로,NaN
509,1230026100,1,3,올림픽공원남문,서울특별시 송파구 위례성대로 102 (방이동)1522-3232,37.513300,127.123113,위례성대로,NaN

In [12]:
list = set(road_ext_50m['store_name'])

In [14]:
len(list)

400

In [42]:
bus_sub = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\bus_sub.csv", encoding="EUC-KR")

In [43]:
bus_sub

,LINK_ID,store_name,store_addr,bus_cnt,substn
0,1110008106,은평구청입구,서울특별시 은평구 은평로 170 (응암동)1522-3232,11.0,0
1,1130019501,아현역,"서울특별시 서대문구 신촌로35길 10 (북아현동, E편한세상신촌 4단지)1522-3232",14.0,1
2,1130026401,상암디지털큐브,서울특별시 마포구 상암산로 341522-3232,11.0,0
3,1130026402,상암DMC,"서울특별시 마포구 월드컵북로 375, DMC이안오피스텔1단지 102호,202호 (상...",15.0,0
4,1130072000,상암YTN,서울특별시 마포구 상암산로 76 (상암동)1522-3232,10.0,1
...,...,...,...,...,...
470,1130000600,마포아크로,서울특별시 마포구 마포대로 68 (도화동) 마포아크로타워1522-3232,13.0,1
471,1220004300,청담영동대로,서울특별시 강남구 영동대로 720 (청담동)1522-3232,7.0,1
472,1230029300,몽촌토성역,서울특별시 송파구 위례성대로 6 1522-3232,5.0,1
473,1230028100,올림픽평화의문,서울특별시 송파구 위례성대로 38 (방이동) 해태그린피아빌라트1522-3232,7.0,1
474,1230026100,올림픽공원남문,서울특별시 송파구 위례성대로 102 (방이동)1522-3232,6.0,0

In [44]:
pop = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\starbucks_join_pop.csv", encoding="EUC-KR")

In [45]:
pop

    store_name  지역  구로구     동    도로  유동인구_평균        lat         lot
0      역삼아레나빌딩  서울  강남구  역삼2동   언주로    52263  37.501087  127.043069
1         도곡공원  서울  강남구  역삼2동   도곡로    52263  37.492805  127.041309
2        역삼이마트  서울  강남구  역삼2동   역삼로    52263  37.499367  127.048425
3       논현역사거리  서울  강남구  논현1동  강남대로    41326  37.510178  127.022223
4      신사역성일빌딩  서울  강남구  논현1동  강남대로    41326  37.514132  127.020563
..         ...  ..  ...   ...   ...      ...        ...         ...
551       사가정역  서울  중랑구  면목7동   면목로    20503  37.579594  127.087966
552        상봉역  서울  중랑구  상봉1동   망우로    18510  37.596890  127.086470
553      묵동이마트  서울  중랑구   묵1동   동일로    26575  37.613433  127.077484
554         묵동  서울  중랑구   묵1동   동일로    26575  37.615368  127.076633
555        중화역  서울  중랑구  중화2동  봉화산로    26002  37.601709  127.078411

[556 rows x 8 columns]

In [11]:
v = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\202107_v.csv", encoding="EUC-KR")

In [47]:
v = v[:5034]
v

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
0,20210701,목,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,...,40.66,38.75,49.65,34.83,30.88,41.75,36.70,57.18,53.91,44.74
1,20210701,목,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,2,보조간선도로,...,16.22,15.11,12.69,9.36,9.30,14.78,13.36,18.09,17.09,17.16
2,20210701,목,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2,보조간선도로,...,19.18,17.31,20.76,18.57,18.79,20.09,20.38,18.14,19.05,22.26
3,20210701,목,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,1,보조간선도로,...,44.20,44.69,63.16,62.00,48.49,51.04,46.74,50.07,51.82,40.22
4,20210701,목,가락로,1230024700,방이초교,방이동고분군,상행,844,1,기타도로,...,14.95,14.36,13.07,15.40,16.20,18.59,13.41,15.24,16.48,19.52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5029,20210701,목,흑석로,1190003703,중앙대학교,성심의집,하행,398,0,기타도로,...,14.28,16.16,16.51,16.10,16.92,16.99,17.89,17.71,17.33,21.26
5030,20210701,목,흑석로,1190003702,성심의집,이화빌라,하행,143,0,기타도로,...,17.74,16.62,18.09,18.95,22.49,21.23,19.81,19.87,17.77,20.05
5031,20210701,목,흑석로,1190003701,이화빌라,이화약국,하행,133,0,기타도로,...,15.75,14.83,17.58,17.67,19.75,19.33,18.75,19.92,17.33,23.17
5032,20210701,목,희우정로,1130016400,망원정사거리,한강공원입구,상행,692,2,기타도로,...,25.18,24.03,19.25,19.97,20.28,19.00,18.59,19.49,20.57,20.22
5033,20210701,목,희우정로,1130016300,한강공원입구,망원정사거리,하행,688,2,기타도로,...,20.49,16.52,17.60,18.51,17.64,17.67,18.60,17.38,21.53,20.70

In [48]:
cnt_pop = pd.merge(left=bus_sub, right=pop, how='left', left_on='store_name', right_on='store_name')

In [49]:
cnt_pop

,LINK_ID,store_name,store_addr,bus_cnt,substn,지역,구로구,동,도로,유동인구_평균,lat,lot
0,1110008106,은평구청입구,서울특별시 은평구 은평로 170 (응암동)1522-3232,11.0,0,서울,은평구,응암1동,은평로,27437,37.601042,126.926789
1,1130019501,아현역,"서울특별시 서대문구 신촌로35길 10 (북아현동, E편한세상신촌 4단지)1522-3232",14.0,1,서울,서대문구,북아현동,신촌로35길,35527,37.558421,126.956349
2,1130026401,상암디지털큐브,서울특별시 마포구 상암산로 341522-3232,11.0,0,서울,마포구,상암동,상암산로,46250,37.576313,126.889248
3,1130026402,상암DMC,"서울특별시 마포구 월드컵북로 375, DMC이안오피스텔1단지 102호,202호 (상...",15.0,0,서울,마포구,상암동,월드컵북로,46250,37.577623,126.890684
4,1130072000,상암YTN,서울특별시 마포구 상암산로 76 (상암동)1522-3232,10.0,1,서울,마포구,상암동,상암산로,46250,37.579183,126.892315
...,...,...,...,...,...,...,...,...,...,...,...,...
470,1130000600,마포아크로,서울특별시 마포구 마포대로 68 (도화동) 마포아크로타워1522-3232,13.0,1,서울,마포구,도화동,마포대로,20724,37.541456,126.948819
471,1220004300,청담영동대로,서울특별시 강남구 영동대로 720 (청담동)1522-3232,7.0,1,서울,강남구,청담동,영동대로,43176,37.522156,127.056449
472,1230029300,몽촌토성역,서울특별시 송파구 위례성대로 6 1522-3232,5.0,1,서울,송파구,방이2동,위례성대로,33071,37.516913,127.113127
473,1230028100,올림픽평화의문,서울특별시 송파구 위례성대로 38 (방이동) 해태그린피아빌라트1522-3232,7.0,1,서울,송파구,방이2동,위례성대로,33071,37.515643,127.116482
474,1230026100,올림픽공원남문,서울특별시 송파구 위례성대로 102 (방이동)1522-3232,6.0,0,서울,송파구,방이1동,위례성대로,18752,37.513300,127.123113

In [50]:
cnt_pop_v = pd.merge(left=cnt_pop, right=v, how='left', left_on='LINK_ID', right_on='링크아이디')

In [55]:
cnt_pop_v.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\join.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [54]:
len(cnt_pop_v['store_name'])

475

In [56]:
join_mean = cnt_pop_v.groupby(['store_name']).mean()

In [57]:
join_mean.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\q-gis\join_mean.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

# cluster 파일 분리

In [2]:
import pandas as pd

In [3]:
kmeans5 = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\kmenas_pop_road.csv", encoding="EUC-KR")
kmeans5_group0 = kmeans5['cluster'] == 0
kmeans5_group0 = kmeans5[kmeans5_group0]
kmeans5_group0.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\kmeans5_group0.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [4]:
agg_cluster_group1 = agg_cluster5['cluster'] == 1
agg_cluster_group1 = agg_cluster5[agg_cluster_group1]
agg_cluster_group1.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\agg_cluster_group1.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [5]:
agg_cluster_group2 = agg_cluster5['cluster'] == 2
agg_cluster_group2 = agg_cluster5[agg_cluster_group2]
agg_cluster_group2.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\agg_cluster_group2.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [6]:
agg_cluster_group3 = agg_cluster5['cluster'] == 3
agg_cluster_group3 = agg_cluster5[agg_cluster_group3]
agg_cluster_group3.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\agg_cluster_group3.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [7]:
agg_cluster_group4 = agg_cluster5['cluster'] == 4
agg_cluster_group4 = agg_cluster5[agg_cluster_group4]
agg_cluster_group4.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\agg_cluster_group4.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

# 도로 + 통행속도 결합

In [12]:
weekday = v['요일'] == ('월' or '화' or '수' or '목' or '금')
v_weekday = v[weekday]

In [20]:
v_weekday

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
20136,20210705,월,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,...,33.91,34.67,40.04,37.11,34.30,37.21,34.93,47.91,37.04,40.48
20137,20210705,월,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,2,보조간선도로,...,10.83,13.30,13.06,10.33,8.02,12.18,18.08,19.18,19.45,18.78
20138,20210705,월,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2,보조간선도로,...,17.97,18.31,17.40,17.13,15.66,17.18,19.97,21.66,22.22,26.70
20139,20210705,월,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,1,보조간선도로,...,44.55,45.04,63.66,62.49,48.87,51.45,47.11,50.47,52.23,40.56
20140,20210705,월,가락로,1230024700,방이초교,방이동고분군,상행,844,1,기타도로,...,14.21,13.41,12.85,13.94,13.46,12.40,17.61,15.22,19.72,18.59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130874,20210726,월,흑석로,1190003703,중앙대학교,성심의집,하행,398,0,기타도로,...,19.76,17.98,17.98,16.98,17.91,20.56,19.04,19.23,19.07,19.70
130875,20210726,월,흑석로,1190003702,성심의집,이화빌라,하행,143,0,기타도로,...,20.36,19.29,18.44,18.65,18.08,19.48,22.52,18.92,21.14,19.85
130876,20210726,월,흑석로,1190003701,이화빌라,이화약국,하행,133,0,기타도로,...,16.42,15.92,16.58,18.83,19.00,18.92,22.42,17.33,21.83,17.17
130877,20210726,월,희우정로,1130016400,망원정사거리,한강공원입구,상행,692,2,기타도로,...,22.37,18.59,18.51,20.20,27.00,21.57,20.69,18.17,22.22,24.27
130878,20210726,월,희우정로,1130016300,한강공원입구,망원정사거리,하행,688,2,기타도로,...,18.70,20.56,17.67,16.83,20.78,20.43,17.39,15.10,21.64,17.17

In [37]:
weekend = v['요일'] == ('토' or '일')
v_weekend = v[weekend]

In [38]:
v_weekend

,일자,요일,도로명,링크아이디,시점명,종점명,방향,거리,차선수,기능유형구분,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
10068,20210703,토,4.19로,1080012200,아카데미하우스,국립4.19묘지,상행,1179,1,보조간선도로,...,36.64,36.41,27.30,28.83,32.68,33.09,43.10,35.37,39.68,52.22
10069,20210703,토,4.19로,1080012800,국립4.19묘지,국립4.19묘지입구,상행,352,2,보조간선도로,...,8.17,10.56,9.85,10.80,12.36,13.78,17.22,15.45,15.94,17.59
10070,20210703,토,4.19로,1080012700,국립4.19묘지입구,국립4.19묘지,하행,354,2,보조간선도로,...,17.60,15.90,17.72,18.18,17.45,18.32,20.81,19.24,20.12,21.07
10071,20210703,토,4.19로,1080012100,국립4.19묘지,아카데미하우스,하행,1190,1,보조간선도로,...,43.06,43.53,61.53,60.40,47.24,49.73,45.53,48.78,50.48,39.41
10072,20210703,토,가락로,1230024700,방이초교,방이동고분군,상행,844,1,기타도로,...,13.22,15.99,14.57,15.24,13.31,16.66,16.55,16.32,17.67,27.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
156042,20210731,토,흑석로,1190003703,중앙대학교,성심의집,하행,398,0,기타도로,...,17.72,15.77,15.20,16.68,18.78,17.64,18.30,16.82,17.92,20.47
156043,20210731,토,흑석로,1190003702,성심의집,이화빌라,하행,143,0,기타도로,...,20.66,20.87,22.76,21.55,20.51,20.63,22.15,19.04,18.95,23.49
156044,20210731,토,흑석로,1190003701,이화빌라,이화약국,하행,133,0,기타도로,...,19.08,20.25,22.50,21.25,21.17,21.50,22.75,19.08,16.67,25.88
156045,20210731,토,희우정로,1130016400,망원정사거리,한강공원입구,상행,692,2,기타도로,...,20.86,19.37,20.66,21.44,19.07,20.66,20.96,21.22,21.30,26.91
156046,20210731,토,희우정로,1130016300,한강공원입구,망원정사거리,하행,688,2,기타도로,...,13.87,16.05,19.73,17.32,24.38,16.17,18.97,16.21,19.29,19.58

In [21]:
v_weekday
v_weekday = v_weekday.groupby(['링크아이디']).mean()

In [39]:
v_weekend = v_weekend.groupby(['링크아이디']).mean()

In [24]:
v_weekday
v_weekday.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\weekday_mean.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [40]:
v_weekend.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\weekend_mean.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [28]:
v_weekday

,일자,거리,차선수,01시,02시,03시,04시,05시,06시,07시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
링크아이디,,,,,,,,,,,,,,,,,,,,,
1000000100,20210715.5,306.0,4.0,27.2975,26.3925,26.3150,30.2900,26.9525,28.9875,30.3000,...,22.0050,18.5425,20.8200,21.8325,20.3950,20.3525,23.8725,25.9325,25.8100,24.6200
1000000200,20210715.5,302.0,3.0,36.6850,37.9450,39.7825,41.6275,39.0275,36.6600,32.6250,...,27.9450,28.4975,29.2225,30.0825,29.2050,30.9150,31.9875,33.3250,30.9550,32.7700
1000000300,20210715.5,325.0,4.0,15.8225,16.5800,14.6550,16.4500,18.7300,24.1850,24.1975,...,20.4050,22.4325,22.8925,21.6025,19.0375,18.6600,22.1275,17.4450,16.1775,15.5425
1000000400,20210715.5,325.0,4.0,18.2800,19.1575,18.7350,18.9400,23.5800,29.6100,31.1050,...,19.5275,22.2625,21.6550,20.9475,17.2425,17.7975,20.1900,17.1050,14.9600,15.2325
1000000500,20210715.5,415.0,4.0,31.4975,32.2750,34.4475,35.0925,35.6425,33.8900,33.4600,...,19.2025,17.6950,17.6875,16.9750,16.5875,21.5725,26.3725,27.1600,28.4225,30.3525
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3201510100,20210715.5,63.0,2.0,19.2675,19.2025,22.5100,24.1475,21.7150,19.6700,19.6750,...,18.0475,17.5100,19.3200,14.1475,13.3150,16.7350,15.9550,15.5875,15.6700,19.2625
3201510200,20210715.5,301.0,2.0,24.3475,24.1900,28.6725,24.6625,22.4775,23.5425,17.6550,...,20.2175,21.0325,16.9725,16.2300,14.3000,16.3850,16.4250,16.2325,17.1525,19.7200
3201510300,20210715.5,308.0,2.0,16.8200,20.9625,21.2750,20.1925,19.8775,13.8775,14.1250,...,12.1775,12.7175,12.3750,13.3625,12.0550,12.9325,13.3400,12.9100,13.8225,14.9375
3201510600,20210715.5,503.0,1.0,27.0200,29.8900,30.7900,27.8850,31.4900,28.1375,23.8125,...,24.3050,23.7450,24.8050,26.3050,24.4900,27.8225,24.5525,25.5550,23.4850,23.0775
3201510700,20210715.5,503.0,2.0,25.4750,34.2525,32.0925,37.5150,33.5225,28.3375,31.3575,...,22.7950,23.3250,23.7925,23.5350,22.1075,22.3775,23.6775,25.7000,27.1800,27.0650

In [41]:
v_weekend

,일자,거리,차선수,01시,02시,03시,04시,05시,06시,07시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,24시
링크아이디,,,,,,,,,,,,,,,,,,,,,
1000000100,20210717,306,4,25.2575,27.7825,25.6900,28.0750,27.8300,26.1375,26.0950,...,27.8600,27.806,27.606,28.102,27.426,26.014,25.928,25.218,24.008,24.462
1000000200,20210717,302,3,34.1150,34.0200,35.9150,39.8950,36.8150,33.8675,36.3675,...,28.8440,29.112,29.836,30.738,30.874,30.528,33.080,32.418,32.834,33.820
1000000300,20210717,325,4,15.7225,17.0725,15.4825,17.8675,17.5675,23.8250,23.1025,...,19.4260,21.004,21.648,22.276,23.400,23.452,18.322,17.770,16.540,14.194
1000000400,20210717,325,4,17.6725,19.1150,21.5875,21.2825,21.8100,30.7825,29.6125,...,23.6325,22.436,19.732,20.948,22.482,22.956,17.876,14.064,13.424,14.018
1000000500,20210717,415,4,26.9400,27.2475,29.0475,32.3575,34.9625,31.7075,30.9375,...,19.0575,18.392,18.132,16.340,18.198,24.128,25.390,25.426,26.660,27.774
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3201510100,20210717,63,2,20.4300,20.4550,20.7375,21.3000,19.6850,22.1850,21.5650,...,18.6620,18.678,18.494,17.208,20.918,20.280,17.246,18.874,19.014,20.156
3201510200,20210717,301,2,23.8675,19.3275,17.0050,25.4975,20.3150,16.5900,19.5975,...,17.5120,18.384,17.392,17.160,19.710,21.190,17.736,18.360,16.044,21.650
3201510300,20210717,308,2,13.4225,16.9225,20.6025,18.5125,18.1325,14.0550,15.4000,...,12.8680,12.086,12.382,12.616,12.414,12.562,12.748,15.016,13.096,11.856
3201510600,20210717,503,1,27.1125,29.6825,28.2500,30.1175,30.5475,28.3150,30.0175,...,26.8060,24.548,26.236,25.898,24.908,24.860,24.320,23.234,23.130,26.914
3201510700,20210717,503,2,27.2500,28.3850,33.3475,30.8950,28.6500,27.2375,26.2525,...,24.7560,24.304,23.234,23.474,23.442,23.270,24.638,24.200,25.950,25.578

In [42]:
road = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\road_extract\road_extract_final.csv", encoding="EUC-KR")

In [43]:
road

,LINK_ID,begin,end,store_name,store_addr,lat,lot,도로,길
0,1110008106,1,13,은평구청입구,서울특별시 은평구 은평로 170 (응암동)1522-3232,37.601042,126.926789,은평로,NaN
1,1130019501,1,16,아현역,"서울특별시 서대문구 신촌로35길 10 (북아현동, E편한세상신촌 4단지)1522-3232",37.558421,126.956349,신촌로35길,NaN
2,1130026401,1,2,상암디지털큐브,서울특별시 마포구 상암산로 341522-3232,37.576313,126.889248,상암산로,NaN
3,1130026402,1,2,상암DMC,"서울특별시 마포구 월드컵북로 375, DMC이안오피스텔1단지 102호,202호 (상...",37.577623,126.890684,월드컵북로,NaN
4,1130072000,1,2,상암YTN,서울특별시 마포구 상암산로 76 (상암동)1522-3232,37.579183,126.892315,상암산로,NaN
...,...,...,...,...,...,...,...,...,...
481,1230029300,1,3,몽촌토성역,서울특별시 송파구 위례성대로 6 1522-3232,37.516913,127.113127,위례성대로,NaN
482,1230028100,1,3,올림픽평화의문,서울특별시 송파구 위례성대로 38 (방이동) 해태그린피아빌라트1522-3232,37.515643,127.116482,위례성대로,NaN
483,1230026100,1,3,올림픽공원남문,서울특별시 송파구 위례성대로 102 (방이동)1522-3232,37.513300,127.123113,위례성대로,NaN
484,1140030700,1,5,신월ICDT,NaN,37.529500,126.832000,NaN,NaN
485,1140023300,1,3,신월ICDT,NaN,37.529500,126.832000,NaN,NaN

In [34]:
road_join_weekday = pd.merge(left=road, right=v_weekday, how='inner', left_on='LINK_ID', right_on='링크아이디')
road_join_weekday.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\road_weekday.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [36]:
road_join_weekday = road_join_weekday.groupby(['store_name']).mean()
road_join_weekday.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\road_weekday_mean.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [44]:
road_join_weekend = pd.merge(left=road, right=v_weekend, how='inner', left_on='LINK_ID', right_on='링크아이디')
road_join_weekday.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\road_weekend.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [45]:
road_join_weekend = road_join_weekend.groupby(['store_name']).mean()
road_join_weekend.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\road_weekend_mean.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

# clustering된 데이터에 통행속도(평일/주말) 붙이기

In [46]:
kmeans5 = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\kmeans_5_pop_road.csv", encoding="EUC-KR")

In [48]:
road_weekday_mean_cluster = pd.merge(left=road_join_weekday, right=kmeans5, how='inner', left_on='store_name', right_on='store_name')

In [51]:
road_weekday_mean_cluster.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\road_weekday_mean_cluster.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [50]:
road_weekend_mean_cluster = pd.merge(left=road_join_weekend, right=kmeans5, how='inner', left_on='store_name', right_on='store_name')

In [52]:
road_weekend_mean_cluster.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\road_weekend_mean_cluster.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [61]:
road_weekday_mean_cluster = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\road_weekday_mean_cluster.csv", encoding="EUC-KR")
kmeans5_group0 = road_weekday_mean_cluster['cluster'] == 0
kmeans5_group0 = road_weekday_mean_cluster[kmeans5_group0]
kmeans5_group0.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group0_weekday.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [62]:
kmeans5_group1 = road_weekday_mean_cluster['cluster'] == 1
kmeans5_group1 = road_weekday_mean_cluster[kmeans5_group1]
kmeans5_group1.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group1_weekday.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [63]:
kmeans5_group2 = road_weekday_mean_cluster['cluster'] == 2
kmeans5_group2 = road_weekday_mean_cluster[kmeans5_group2]
kmeans5_group2.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group2_weekday.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [64]:
kmeans5_group3 = road_weekday_mean_cluster['cluster'] == 3
kmeans5_group3 = road_weekday_mean_cluster[kmeans5_group3]
kmeans5_group3.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group3_weekday.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [65]:
kmeans5_group4 = road_weekday_mean_cluster['cluster'] == 4
kmeans5_group4 = road_weekday_mean_cluster[kmeans5_group4]
kmeans5_group4.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group4_weekday.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [66]:
road_weekend_mean_cluster = pd.read_csv(r"G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\road_weekend_mean_cluster.csv", encoding="EUC-KR")
kmeans5_group0_end = road_weekend_mean_cluster['cluster'] == 0
kmeans5_group0_end = road_weekend_mean_cluster[kmeans5_group0_end]
kmeans5_group0_end.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group0_weekend.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [67]:
kmeans5_group1_end = road_weekend_mean_cluster['cluster'] == 1
kmeans5_group1_end = road_weekend_mean_cluster[kmeans5_group1_end]
kmeans5_group1_end.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group1_weekend.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [68]:
kmeans5_group2_end = road_weekend_mean_cluster['cluster'] == 2
kmeans5_group2_end = road_weekend_mean_cluster[kmeans5_group2_end]
kmeans5_group2_end.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group2_weekend.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [69]:
kmeans5_group3_end = road_weekend_mean_cluster['cluster'] == 3
kmeans5_group3_end = road_weekend_mean_cluster[kmeans5_group3_end]
kmeans5_group3_end.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group3_weekend.csv', sep=',', na_rep='NaN', encoding='EUC-KR')

In [71]:
kmeans5_group4_end = road_weekend_mean_cluster['cluster'] == 4
kmeans5_group4_end = road_weekend_mean_cluster[kmeans5_group4_end]
kmeans5_group4_end.to_csv(r'G:\내 드라이브\2021 공공빅데이터 청년인턴\프로젝트\데이터\version2\clustering\group4_weekend.csv', sep=',', na_rep='NaN', encoding='EUC-KR')